* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: GothamPro;
    src: url('../fonts/GothamPro/GothamPro.woff') format('woff');
}

@font-face {
    font-family: PhillippScript;
    src: url('../fonts/PhillippScript/PhillippScript.ttf');
}

body {
    font-family: "GothamPro", serif;
}

ul {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

/* HEADER */
.header-bg {
    background-color: #050921;
}

.navbar {
    height: 75px;
}

.logo {
    font-family: "PhillippScript";
    font-size: 24px;
}

.navigation-item {
    margin-left: 45px;
    font-size: 18px;
}

.navigation-link,
.logo {
    color: #fff;
}

.navigation-link:hover,
.navbar-dark .navbar-brand.logo:hover {
    color: #ea8411;
}

.header-info {
    height: 543px;
    background: url(../img/header/header-bg.png) no-repeat center center;
    background-size: cover;
}

.header-info .container,
.header-title {
    height: 100%;
}

.header-title-text {
    font-family: "PhillippScript";
    font-size: 23px;
    color: #fff;
}

/* MAIN SECTION */
.advantages,
.services,
.products {
    padding: 50px 0 70px 0;
}

.section-heading__title--txt-white {
    color: #fff;
}

.bg-wood {
    background-image: url(../img/main/bg-wood.png);
    background-size: cover;
}

.services {
    color: #fff;
}

/* Our advantages */
.section-heading {
    margin-bottom: 30px;
}

.section-heading__title {
   position: relative;
   display: inline-block;
}

.section-heading__title:before,
.section-heading__title:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;   
    border-top: 1px solid;
}

.section-heading__title:before {
   left: 0;
   margin-left: 3px;
   margin-top: -3px;
}

.section-heading__title:after {
    right: 0;
    margin-right: 3px;
    margin-top: 6px;
}

.section-heading,
.advantages-box__text {
    text-align: center;
}

.advantages-box:first-child {
    margin-bottom: 20px;
}

.advantages-box__text {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}
   
.advantages-box__icon {
    text-align: center;
}

.icon-test {
    width: 90px;
}

/* Services */
.services-title {
    text-align: center;
}

.services-list,
.services-text {
    font-size: 18px;
}

.services-list__item::before {
    content: '\2022';
    padding-right: 5px;
    font-size: 30px;
    vertical-align: sub;
    color: #ea8411;
}

.services-text {
    text-align: center;
    margin: 0;
}

/* Our products */
.box-product {
    padding: 2px 2px 0 2px;
    background-color: #ea8411;
}

.box-product {
    margin-bottom: 30px;
}

.box-product--margin {
    margin: 0;
}

.product-info {
    padding: 5px 0;
    text-align: center;
}

.product-info__title {
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.product-info__title::after {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 1px solid #000;
    width: 30px;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
}

.product-info__text {
    margin: 0;
}

.box-product:hover {
    padding: 25px 25px 0 25px;  
}

.box-product:hover .product-info{
    color: #fff;
}

.box-product:hover .product-info__text {
    font-weight: bold;
}

.box-product:hover .product-info__title::after {
    border-color: #fff;
}

@media screen and (min-width: 540px)  {
    .header-title-text {
        font-size: 36px;
    }

    .advantages-box:first-child {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px)  {
    .header-title-text {
        font-size: 45px;
    }
    
    .advantages-box__text {
        text-align: left;
    }

    .advantages-box__icon {
        margin-right: 30px;
    }
}

@media screen and (min-width: 992px) {
    .header-title-text {
        font-size: 56px;
    }

    .advantages-box__icon {
        margin-right: 15px;
    }

    .advantages-box:first-child {
        margin-bottom: 70px;
    }

    .services {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .header-title-text {
        font-size: 73px;
    }
}

/* from bottom to top btn */
.back-to-top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border-radius: 2px;
    display: none;
  }
  
  .back-to-top:hover {
    background: #e9ebec;
  }
  
  .back-to-top_show {
    display: block;
  }