* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: GothamPro;
    src: url('../fonts/GothamPro/GothamPro.woff') format('woff');
}

@font-face {
    font-family: PhillippScript;
    src: url('../fonts/PhillippScript/PhillippScript.ttf');
}

body {
    font-family: "GothamPro", serif;
}

ul {
    list-style-type: none;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #ea8411;
}

/* HEADER */
.header-bg {
    background-color: #050921;
}

.navbar {
    justify-content: flex-end;
}

.logo {
    display: none;
}

.mobile-logo {
    color: #ea8411;
}

.logo,
.mobile-logo {
    font-family: "PhillippScript";
    font-size: 24px;
}

.navigation-item {
    margin-bottom: 20px;
    font-size: 18px;
}

.navigation-link,
.logo {
    color: #fff;
}

.navbar-dark .navbar-brand.logo:hover {
    color: #ea8411;
}

.header-info {
    height: 543px;
    background: url(../img/header/header-bg.png) no-repeat center center;
    background-size: cover;
}

.header-info .container,
.header-title {
    height: 100%;
}

.header-title-text {
    font-family: "PhillippScript";
    font-size: 23px;
    color: #fff;
}

/* MAIN SECTION */
.advantages,
.services,
.products,
.contacts,
.contact-us,
.footer,
.kitchens {
    padding: 50px 0 70px 0;
}

.section-heading__title--txt-white {
    color: #fff;
}

.bg-wood {
    background-image: url(../img/main/bg-wood.png);
    background-size: cover;
}

.services {
    color: #fff;
}

/* Our advantages */
.section-heading {
    margin-bottom: 30px;
}

.section-heading__title {
   position: relative;
   display: inline-block;
}

.section-heading__title:before,
.section-heading__title:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;   
    border-top: 1px solid;
}

.section-heading__title:before {
   left: 0;
   margin-left: 3px;
   margin-top: -3px;
}

.section-heading__title:after {
    right: 0;
    margin-right: 3px;
    margin-top: 6px;
}

.section-heading,
.advantages-box__text {
    text-align: center;
}

.advantages-box:first-child {
    margin-bottom: 20px;
}

.advantages-box__text {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}
   
.advantages-box__icon {
    text-align: center;
}

.icon-test {
    width: 90px;
}

/* Services */
.services-title {
    text-align: center;
}

.services-list,
.services-text {
    font-size: 18px;
}

.services-list__item {
    display: flex;
    align-items: center;
}

.services-list__item::before {
    content: '\2022';
    padding-right: 5px;
    font-size: 30px;
    color: #ea8411;
}

.services-text {
    text-align: center;
    margin: 0;
}

/* Our products */
.box-product {
    padding: 2px 2px 0 2px;
    background-color: #ea8411;
}

.box-product {
    margin-bottom: 30px;
}

.box-product--margin {
    margin: 0;
}

.product-info {
    padding: 5px 0;
    text-align: center;
}

.product-info__title {
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.product-info__title::after {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 1px solid #000;
    width: 30px;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
}

.product-info__text {
    margin: 0;
}

.box-product:hover {
    padding: 25px 25px 0 25px;  
}

.box-product:hover .product-info{
    color: #fff;
}

.box-product:hover .product-info__text {
    font-weight: bold;
}

.box-product:hover .product-info__title::after {
    border-color: #fff;
}

/* Contacts */
.contacts-info {
    color: #fff;
}

.contacts-info__title {
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
}

.contacts-info__address,
.contacts-info__tel,
.contacts-info__mail {
    margin-bottom: 20px;
}

.box-contact-icon {
    width: 25px;
    margin-right: 10px;
    text-align: center;
}

.contact-icon {
    vertical-align: sub;
}

/* Contact us */
.contact-form__item {
    width: 200px;
}

.contact-form__message {
    width: 100%;
    max-height: 70px;
    min-height: 70px;
}

.contact-form__item,
.contact-form__message {
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ea8411;
}

.contact-form__item::placeholder,
.contact-form__message::placeholder {
    font-size: 14px;
    text-align: center;
    color: #000;
}

.form-btn {
    width: 200px;
    padding: 10px 0;
    border: 1px solid #ea8411;
    border-radius: 20px;
    text-align: center;
    background-color: #ea8411;
    font-weight: bold;
}

.form-btn:hover {
    background-color: #fceddc;
}

/* FOOTER */
.footer {
    background-color: #050921;
    color: #fff;
}

.footer-title {
    margin-bottom: 30px;
    font-size: 20px;
    border-bottom: 1px solid #fff;
}

.footer-title:hover {
    border-color:#ea8411;
}

.navigation-item--footer {
    margin: 0 0 15px 0;
}

.navigation-item--footer,
.contacts-info--footer {
    font-size: 12px;
}

.design-by {
    font-size: 9px;
}

.design-by__text {
    padding-right: 5px;
}

.design-by__link {
    text-decoration: underline;
}

.contacts-info__address,
.contacts-info__tel,
.contacts-info__mail {
    margin-bottom: 15px;
}

@media screen and (min-width: 540px)  {
    .header-title-text {
        font-size: 36px;
    }

    .advantages-box:first-child {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px)  {
    .header-title-text {
        font-size: 45px;
    }
    
    .advantages-box__text {
        text-align: left;
    }

    .advantages-box__icon {
        margin-right: 30px;
    }

    .contact-form__message {
        width: 290px;
    }

    .contact-form__item,
    .contact-form__message {
        margin-bottom: 40px;
    }

    .form-btn {
        margin-top: 10px;
    }
}

@media screen and (min-width: 992px) {
    .header-title-text {
        font-size: 56px;
    }

    .mobile-logo {
        display: none;
    }

    .logo {
        display: block;
    }

    .navigation-item {
        margin-left: 45px;
        margin-bottom: 0;
    }

    .advantages-box__icon {
        margin-right: 15px;
    }

    .advantages-box:first-child {
        margin-bottom: 70px;
    }

    .services {
        font-size: 18px;
    }

    .contacts-info__title {
        text-align: left;
    }

    .contacts-info {
        font-size: 18px;
    }

    .contacts-info__title {
        font-size: 25px;
    }

    .contact-form__message {
        max-height: 89px;
        min-height: 89px;
    }

    .contact-form__message {
        width: 100%;
    }
    
    .contact-form__item::placeholder,
    .contact-form__message::placeholder {
        font-size: 16px;
    }
    
    .form-btn {
        margin-top: 20px;
    }

    .navigation-item--footer,
    .contacts-info--footer {
        font-size: 14px;
    }

    .design-by {
        font-size: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .header-title-text {
        font-size: 73px;
    }
}

/* from bottom to top btn */
.back-to-top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border-radius: 2px;
    display: none;
  }
  
  .back-to-top:hover {
    background: #e9ebec;
  }
  
  .back-to-top_show {
    display: block;
  }

  /* Modal */
  
 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  .modal-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-bottom: 40px;
      border-radius: 3px;
      background-color: #ea8411;
  }

  .modal-content img {
      width: 600px;
      height: 500px;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .slick-container {
      display: none;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }